.App {
	text-align: center;
}

.loading {
	display: flex;
	align-items: center;
	position: absolute;
	top: calc(50% - 4em);
	left: calc(50% - 4em);
	top: calc(50% - 4em);
	left: calc(50% - 4em);
	width: 6em;
	height: 6em;
	border: 1.1em solid rgba(0, 0, 0, 0.2);
	border-left: 1.1em solid #000000;
	border-radius: 50%;
	/* height: 100vh; */
	justify-content: center;
	animation: load8 1.1s infinite linear;
}

@keyframes load8 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.row {
	margin-right: unset;
}

.nav.active {
	color: white;
}

.checkicon {
	width: 24px;
	height: 24px;
}

.nav:hover {
	color: white;
	text-decoration: none;
}

.checkicon > * {
	fill: green;
}

.description * {
	text-indent: 3%;
}

#education.page .description * {
	transform: scaleY(1.5);
	font-size: 27px;
}

.h5 {
	color: silver;
	letter-spacing: -1px;
	transform: scaleY(1.3);
}

.page:not(#experience.page) {
	height: 100vh;
	display: flex;
	/* place-content: center;
  align-items: center;
  justify-items: center; */
	flex-direction: column;
	/* margin: 5px 0px -7px 0px; */
	/* border-top: 1px solid #5e5f61; */
	border-bottom: 1px solid #5e5f61;
}

.page {
	justify-content: center;
}

.page > * {
	padding-left: 10vh;
	padding-right: 8vh;
	margin-right: unset;
}

.title {
	/* margin-left: unset !important; */
	margin-bottom: 5vh;
}

.main {
	display: flex;
	flex-direction: row;
}

.outer-sidebar {
	width: 150vh;
	/* height: 3974px; */
	display: flex;
	place-content: space-evenly;
	background: #bd5d38;
}

.nav {
	font-size: 2vh;
	margin-bottom: 8px;
	color: #ffffff7a;
}

.img {
	position: fixed;
	top: 25%;
}

.outer-sidebar img {
	width: 19vh;
	left: 38vh;
	margin-bottom: 10px;
	border: 6.6px solid #d0957d;
	border-radius: 100%;
	background: white;
}

.sidebar {
	/* min-height: 100vh; */
	position: fixed;
	/* background-color: aqua; */
	top: 46%;
	/* height: 195vh; */
	display: flex;
	flex-direction: column;
	align-items: center;
}

#experience.page {
	height: 100vh;
	display: flex;
	flex-direction: column;
	/* margin: 5px 0px -7px 0px; */
	/* border-top: 1px solid #5e5f61; */
	border-bottom: 1px solid #5e5f61;
}

#experience.page .title,
#education.page .title {
	font-size: 4.8vh;
	font-weight: 700;
	transform: scaleY(1.5);
}

.name {
	font-weight: 700;
	transform: scaleY(1.8);
}

.date h1 {
	color: red;
}

.loc {
	font-weight: 700;
	font-size: 2vh;
	transform: scaleY(1.5);
	padding-bottom: 1vh;
}

.job {
	font-weight: 200;
	font-size: 3vh;
	padding-bottom: 7vh;
}

.title,
h1,
.bigger-title,
.bigger-title.orange {
	font-size: 6vh;
}

.bigger-title {
	margin-bottom: 1vh;
	font-weight: 700;
	transform: scaleY(1.5);
}

.title p {
	display: flex;
}

.orange {
	color: #ee5535;
}

.smaller-title,
.smaller-title * {
	font-size: 2vh;
}

.description *,
ul *,
.name,
.date h1:not(.sidebar) {
	font-size: 2.7vh;
}

#awards.page ul:not(.sidebar) {
	padding-inline-start: 10vh;
}

.exp {
	display: grid;
}

#skills.page ul:not(.sidebar) {
	columns: 2;
}

#skills .smaller-title {
	margin-bottom: 35px;
	transform: scaleY(1.5);
	font-size: 1.7vh;
}

.upper-title {
	display: flex;
	justify-content: space-between;
	height: 3.5vh;
	padding-bottom: 5.7vh;
}

.description * {
	text-align: left;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
